In [1]:
import numpy as np
import pandas as pd

In [2]:
df_basic = pd.read_csv('basic_features.csv')
df_basic.head()

,freq_qid1,freq_qid2,q1len,q2len,q1_words,q2_words,q1_characters,q2_characters,q1_u_words,q2_u_words,q1_u_words_wo_sw,q2_u_words_wo_sw,total_u_words_wo_sw,word_common,word_total,word_share,freq_sum,freq_diff
0,1,1,75,55,14,10,22,23,14,10,7,5,12,3,24,0.125000,2,0
1,1,1,35,34,7,6,16,16,7,6,4,3,7,3,13,0.230769,2,0
2,2,1,44,49,8,10,16,16,7,10,6,6,12,3,18,0.166667,3,1
3,3,3,27,28,6,8,16,16,6,7,2,2,4,3,14,0.214286,6,0
4,1,1,67,121,13,20,20,25,13,19,7,15,22,2,33,0.060606,2,0

In [3]:
df_distance = pd.read_csv('distance_features.csv')
df_distance.head()

,chebyshev,braycurtis,cosine,correlation,canberra,cityblock,euclidean,minkowski,squared_euclidean,word_mover_distance,skew_q1,skew_q2,kurtosis_q1,kurtosis_q2
0,1.123665,0.396603,0.127669,0.872294,410.405212,159.922024,7.220707,2.800752,52.138604,0.271004,-4.645982,-4.189744,64.212520,61.731821
1,0.480776,0.234066,0.042689,0.957295,303.384237,94.710230,4.266819,1.639465,18.205741,0.149739,-5.785566,-6.215198,88.960164,94.936244
2,0.542850,0.302252,0.066770,0.933207,355.357430,115.605390,5.203976,2.003341,27.081363,0.224638,-6.006231,-4.514524,94.324699,64.827981
3,0.627092,0.224507,0.044773,0.955211,289.636246,99.261369,4.479377,1.726475,20.064815,0.239995,-4.328791,-5.789980,62.015381,90.532528
4,1.554472,0.466605,0.206094,0.793827,425.559400,212.287461,9.631902,3.753697,92.773540,0.325006,-2.301041,-4.941727,27.462383,75.408657

In [8]:
df_fuzzy = pd.read_csv('GLUE-Quora-features.csv')
df_fuzzy.head()

,cwc_min,cwc_max,csc_min,csc_max,ctc_min,ctc_max,last_word_eq,first_word_eq,abs_len_diff,mean_len,fuzz_ratio,fuzz_partial_ratio,token_sort_ratio,token_set_ratio,longest_substr_ratio
0,0.000000,0.000000,0.599988,0.374995,0.299997,0.214284,0,0,4,12.0,20,38,36,39,0.089286
1,0.499975,0.333322,0.499987,0.499987,0.499992,0.428565,0,1,1,6.5,72,74,66,66,0.257143
2,0.199996,0.199996,0.999950,0.399992,0.374995,0.299997,0,1,2,9.0,62,60,53,55,0.155556
3,0.000000,0.000000,0.749981,0.599988,0.499992,0.374995,0,1,2,7.0,77,74,77,88,0.392857
4,0.166664,0.083333,0.142855,0.142855,0.153845,0.100000,0,0,7,16.5,26,39,38,45,0.176471

In [9]:
df_bd = pd.merge(df_basic, df_distance, left_index=True, right_index=True)

In [10]:
df_bd.head()

,freq_qid1,freq_qid2,q1len,q2len,q1_words,q2_words,q1_characters,q2_characters,q1_u_words,q2_u_words,...,canberra,cityblock,euclidean,minkowski,squared_euclidean,word_mover_distance,skew_q1,skew_q2,kurtosis_q1,kurtosis_q2
0,1,1,75,55,14,10,22,23,14,10,...,410.405212,159.922024,7.220707,2.800752,52.138604,0.271004,-4.645982,-4.189744,64.212520,61.731821
1,1,1,35,34,7,6,16,16,7,6,...,303.384237,94.710230,4.266819,1.639465,18.205741,0.149739,-5.785566,-6.215198,88.960164,94.936244
2,2,1,44,49,8,10,16,16,7,10,...,355.357430,115.605390,5.203976,2.003341,27.081363,0.224638,-6.006231,-4.514524,94.324699,64.827981
3,3,3,27,28,6,8,16,16,6,7,...,289.636246,99.261369,4.479377,1.726475,20.064815,0.239995,-4.328791,-5.789980,62.015381,90.532528
4,1,1,67,121,13,20,20,25,13,19,...,425.559400,212.287461,9.631902,3.753697,92.773540,0.325006,-2.301041,-4.941727,27.462383,75.408657

In [12]:
df_concat = pd.merge(df_bd, df_fuzzy, left_index=True, right_index=True)

In [14]:
df_concat.head()

,freq_qid1,freq_qid2,q1len,q2len,q1_words,q2_words,q1_characters,q2_characters,q1_u_words,q2_u_words,...,ctc_max,last_word_eq,first_word_eq,abs_len_diff,mean_len,fuzz_ratio,fuzz_partial_ratio,token_sort_ratio,token_set_ratio,longest_substr_ratio
0,1,1,75,55,14,10,22,23,14,10,...,0.214284,0,0,4,12.0,20,38,36,39,0.089286
1,1,1,35,34,7,6,16,16,7,6,...,0.428565,0,1,1,6.5,72,74,66,66,0.257143
2,2,1,44,49,8,10,16,16,7,10,...,0.299997,0,1,2,9.0,62,60,53,55,0.155556
3,3,3,27,28,6,8,16,16,6,7,...,0.374995,0,1,2,7.0,77,74,77,88,0.392857
4,1,1,67,121,13,20,20,25,13,19,...,0.100000,0,0,7,16.5,26,39,38,45,0.176471

In [16]:
df_basic.shape

(363846, 18)

In [17]:
df_distance.shape

(363846, 14)

In [19]:
df_fuzzy.shape

(363846, 15)

In [20]:
df_concat.shape

(363846, 47)

In [27]:
df_pre=pd.read_csv('cleaned_dataset.csv', usecols=['is_duplicate'])

In [28]:
df_pre.head()

   is_duplicate
0             0
1             1
2             0
3             1
4             0

In [30]:
df_concat = pd.merge(df_concat, df_pre, left_index=True, right_index=True)

In [32]:
df_concat.shape

(363846, 48)

In [33]:
df_concat.to_csv("combined_features.csv", index=False)